<h1>New VendorSweet</h1>
<br>
<%if flash[:myerrors]%>
<%flash[:myerrors].each do |e|%>
    <p><%=e%></p>
    <%end%>
    <%end%>
<br>
<%=form_for @vendorsweet do |v|%>
    <%=v.label :vendor_id%>
    <%=v.collection_select :vendor_id, @vendors, :id, :name%>
    <%=v.label :sweet_id%>
    <%=v.collection_select :sweet_id, @sweets, :id, :name%>
    <%=v.label :price%>
    <%=v.number_field :price%>
    <br>
    <%=v.submit "Create a VendorSweet!"%>
    <%end%>
