<h1>New Vendorsweets </h1>

<% if flash[:my_errors]%>
<% flash[:my_errors].each do |e|%>
<p><%= e %></p>
<% end %>
<% end %>

<%= form_for @vendorsweet do |f| %>
<%= f.label :vendor_id %>
<%= f.collection_select :vendor_id, @vendors, :id, :name %>
<br>
<%= f.label :sweet_id %>
<%= f.collection_select :sweet_id, @sweets, :id, :name %>
<br>
<%= f.label :price %>
<%= f.number_field :price%>
<br>
<%= f.submit %>
<% end%>
